body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
    padding: 0;
    margin-top: 30vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: black;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    flex: 1 1 100%;
    margin-bottom: 5px;
}

input, select, button {
    flex: 1 1 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
}

.movie {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    background: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.movie img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 4px;
}

.movie:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie h3 {
    margin: 0;
    color: #007BFF;
    font-size: 18px;
}

.movie p {
    margin: 5px 0;
    color: #555;
}

.details-button {
    margin-left: auto;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #218838;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #0056b3;
}

.details img {
    max-width: 200px;
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
}