@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie Posters Gallery</h1>
    <p>Discover posters fetched dynamically from Redis every 3 seconds.</p>
</div>

<div id="moviePosters" class="d-flex flex-wrap justify-content-center mt-4">
    
</div>