.container {
  text-align: center;
  margin-top: 50px;
}

.message-list {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.message {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
