/* Genel stil ve düzenlemeler */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Başlık ve seçim bölümü stili */
.cat-api {
    text-align: center;
    margin-top: 50px;
}

.cat-api h1 {
    font-size: 36px;
    color: #333;
}

.cat-api h4 {
    font-size: 24px;
    color: #666;
}

.breedSelect {
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.breedSelect:hover, .breedSelect:focus {
    border-color: #2980b9;
}

/* Kedi kartı stili */
.cat {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cat__text {
    text-align: left;
}

.cat__text .tip {
    color: #f39c12;
    font-weight: bold;
}

.cat__text p {
    margin: 10px 0;
}

.cat__image {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}