body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.timer-container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-container label {
    margin: 0 5px;
    font-weight: bold;
}

.input-container input {
    margin: 0 5px;
    padding: 10px;
    width: 70px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-container input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.input-container button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.input-container button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.countdown {
    font-size: 25px;
    margin-top: 20px;
}

.time {
    font-weight: bold;
}